* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: white;
}

.card{
    border: 1px solid black;
    width: 50vw;
    height: 20vh;
}

#result{
    background-color: (#7857ff, #2e2be9);
}

.reaction{
    color:#ff5757
}

.memory{
    color:#ffb01f;
}

.verbal{
    color: #00bd91;
}

.visual{
    color:#1125d4;

}